@import "tailwindcss";

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* =============
Root Element
============== */
@theme{

    --color-primary:#FF5400;
    --color-text_light:rgba(66, 66, 71, 1);
}


/* ===========
Common Element
=============== */

body{
    font-family: "Mulish", sans-serif;;

}
.container{
    @apply
    mx-auto lg:my-12
    w-10/12 max-w-6xl
    my-6
    

}




/* ==============
Hero Section
================== */

.sec-title{
    @apply
    text-xl
    lg:text-[40px] font-bold lg:mb-6
}
.sec_bio{
    @apply
    text-sm lg:text-xl text-black/80
}